.primary-button {
  padding: 1em 1.25em;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #07f;
  color: #fff;
  transition: background-color 0.2s ease;
  font-size: 1rem;

  &:hover {
    background-color: darken($color: #07f, $amount: 5%);
  }

  &--unactive {
    background-color: #fff;
    border: 1px solid gray;
    color: gray;

    &:hover {
      background-color: lighten($color: gray, $amount: 50%);
    }
  }
}
