.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.text-disabled {
  color: gray;
}
