@use '../../styles/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid colors.$color-gray;

  &__logo {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__logo-img {
    width: 4rem;
  }

  &__logo-title {
    font-size: 2rem;
    font-weight: 500;
  }
}

.nav-items {
  display: flex;
  gap: 1rem;
}
